<div class="container">
    <h1>Sourcing</h1>
    <h2>Choose a Set</h2>
     <hr>
     <div >
            
                <% @sets.each do |set| %>
                
                     <%= link_to location_sources_path(set) do %>
                        <div class="rental_list_item">
                            <div class="rental_list_image_holder"><%= print_image "lights.jpg" %></div>
                         
                              <p class="rental_list_header"><%= truncate(set.name, length: 40) %></p>
                            
              
                        </div>
                  <% end %>
                  <hr>
         
            <% end %>
     </div>
</div>