<div class="container">
	<div class='calendar'></div>
	<div id='remote_container'></div>

<script>
	$(function() {
		// initialize_calendar{}
		initialize_calendar();
		console.log("calendar initialized from view");
		// date_range_picker();
		// console.log("date picker initialized from view");
		// $('#exampleModal').modal(options);
		// var options = {
		//   'backdrop' : 'static'
		// }

		$('#exampleModal').on('shown.bs.modal', function (e) {
		  console.log('Modal is successfully shown!');
		});
		$('#exampleModal').on('hide.bs.modal', function (e) {
		  console.log('Modal is closed!');
		});
		$('#new_event').on('shown.bs.modal', function (e) {
		  console.log('new_event Modal is successfully shown!');
		});
		$('#new_event').on('hide.bs.modal', function (e) {
		  console.log('new_event Modal is closed!');
		});
		
		
	});
</script>