<div class="container">			
	<div class="row">
      <h3>Download Forms</h3>
    </div>
    <div class="row">
       <%= link_to "Labels PDF", "public/Labels.pdf", class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>
        <%= link_to "Transport PDF", 'public/Transport.pdf', class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>
        <%= link_to "Petty Cash Top Up Sheet", 'public/petty_cash.xlsx', class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>
    </div>
</div>