<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">			
	<div class="row">
      <h3>Download Forms</h3>
    </div>



    <table class="table">
      <tr>

        <th>Type</th>
        <th>File Description</th>
        <th>Download</th>
      </tr>

      <tr>
        <td><span style="font-size: 30px; color: Dodgerblue;"><i class="fas fa-file-excel"></i></span></td>

	    <td> Petty Cash Top Up Sheet </td>
	    <td><%= link_to (image_tag "document.png", style: "height: 35px;"), "/petty_cash.xlsx" %></td>

      </tr>
      <tr>
        <td><span style="font-size: 30px; color: Tomato;"><i class="fas fa-file-pdf"></i></span></td>

	    <td> Transport </td>
	    <td><%= link_to (image_tag "document.png", style: "height: 35px;"), "/Transport.pdf" %></td>

      </tr>
      </tr>
      <tr>
        <td><span style="font-size: 30px; color: Tomato;"><i class="fas fa-file-pdf"></i></span></td>

	    <td> Labels </td>
	    <td><%= link_to (image_tag "document.png", style: "height: 35px;"), "/Labels.pdf" %></td>

      </tr>

    </table>
</div>