<div class="landing-bg">

	<div class="landing-text">
		<%= link_to (image_tag "SetLogo_trans_landing.png", id: "landing-logo"), new_user_session_path %></br></br></br></br></br>
		<span>Coming Soon!</span>
	</div>
</div>