<h4>Invite User</h4>
<%= form_for [@project, ProjectUser.new] do |f| %>
  <div>
    <%= f.text_field :email, required: true %>
  </div>
  <%= f.submit "Invite" %>
<%  end %>

 <h4>Users</h4>
  <% @project.users.each do |user| %>
    <div><%= user.email %></div>
  <% end %>