.dash_breadcrumb {
  border-radius: 15px  !important;
  // margin-left: 100px;
  // max-width: 250px;
  // height: 80vh;
  background-color: black !important;
  color: white;
  overflow: hidden;
  padding-left: 50px;
  li {
      font-size: 20px;
    font-weight: bold;
  }

}

.dash_breadcrumb a:link, .dash_breadcrumb a:visited, .dash_breadcrumb  a:hover {
  text-decoration: none; color: white;
}

.dash_breadcrumb  a:active, .dash_breadcrumb  a:hover {
  color: #565656;
}

.dash_breadcrumb_active {
  color: #9b9999;
}

.dash_header img {
  height:45px;
  width:auto;
  float:left;
  margin-right: 30px;
}

.dash_header {
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 40px;

}

.breadcrumb > li + li::before {
    content: "| ";
}

.breadcrumb > li + li::before {
    content: "| ";
}

.breadcrumb > li + li::before {
    content: "|";
    color: rgb(204, 204, 204);
    padding: 0px 15px;
}

::before, ::after {
    box-sizing: border-box;
}
.breadcrumb > li {
    display: inline-block;
}

@media screen and (max-width: 900px) {
    .dash_header {
        margin-left: 0px;
        margin-top: 25px;
        margin-bottom: 40px;
    }

  }

@media screen and (max-width: 600px) {
  .dash_header {
      img {display: none;}
      h1 {font-size: 25px;}
    }
    .dash_breadcrumb {
      li {
          font-size: 14px;
      }
    }
}
