#main-header {
    position: fixed !important;
    top: 50px;
    width: 100%;
	// height: 84px;
	// padding: 18px 0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	z-index: 0;
}



#main-header img{
	max-height: 45px;
	// max-width: 50%;
	// display: inline-block;
 //    float: none;
 //    // max-height: 54%;
 //    // margin-bottom: 0;
 //    vertical-align: middle;
 //    -webkit-transition: all 0.4s ease-in-out;
 //    -moz-transition: all 0.4s ease-in-out;
 //    transition: all 0.4s ease-in-out;
 //    -webkit-transform: translate3d(0, 0, 0);

}
// #main-header ul {
// 	display: inline-block;
//     margin: 0;
//     margin-top: 0;
//     margin-bottom: 0;
//     margin-left: 0;
//     padding-left:50px;

//  }
// #main-header li {
//     display: inline-block;
//     padding-right: 22px;
//     font-size: 14px;
//   }

// #main-header a, #main-header span{
// 	color: #000;
// 	font-family:"Open Sans", Arial, sans-serifstyle;
// 	font-weight: 600;
// 	font-size: 15px !important;
// 	 // display: block;
//     position: relative;
//     color: rgba(0, 0, 0, 0.6);
//     text-decoration: none;
//     -webkit-transition: all 0.4s ease-in-out;
//     -moz-transition: all 0.4s ease-in-out;
//     transition: all 0.6s ease-in-out;
// 	}

// #main-header a:hover {
// 	color: #7cc68d;
//     text-shadow: 0 0 15px #7cc68d;
//     // font-weight: 800;
// }

	    
@media screen and (max-width: 1100px) {
	#main-header-container {
		    padding-right: 0;
   			padding-left: 0;
   			font-size: 13px !important;
	}
}