// Place all the styles related to the rentals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rental_img {
	height: 100px;
	float: left;
}
.rental_img img{
	height: 95%;
	border: 5px solid black;
}
.rental_text {
	float: left;
	margin-left: 50px;
}