

    <div class="top-wrapper pdf_only"> 

      <img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-804672335471/uploads/SetLogo_trans.png", style="height:45px;float:left;" >


   <h3 style="float:right;padding-right: 100px;"><%= Date.today.strftime("%b %d, %Y")  %></h3>
  
    </div>


<div class="pdf_only" style="clear:both;margin-bottom: 25px;"></div>